* {margin:0; padding: 0; font-size: 20px}

.menu{background: rgb(11, 181, 124); padding: 70px 20px; margin-top: 30px; text-align: right; box-shadow: 1px 10px 10px aliceblue; padding-top: 5px ;}

.imagen {width: 180px; height: 80px; object-fit: cover; align: left; float: left; bottom: 5px; margin: 5px 5px}

.list{display: inline; position: relative; bottom: -15px; margin-right: 10px;}

.link{margin: 10px; text-decoration: none; color: aliceblue;}


h1 {margin: 50px; border: 5px solid rgb(20, 153, 109); padding: 25px; color: rgb(255, 255, 255); background-color: rgb(121, 195, 149); text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-decoration: underline;}




section article h2 {color: rgb(46, 45, 45);font-size: 35px;}
p {font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: rgb(29, 187, 134); margin: 15px;}
a {font-family: Georgia, 'Times New Roman', Times, serif;}

.article-primero {text-align: center; text-align: center; font-size: 50px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}



.tituloSegundaSeccion {background-image: url(../imágenes/hojas.jpeg);height: 300px; background-position: 200px; background-size: 200px; font-size: 90px;}